GummyBearsMapEditor/GummyBearsMapEditor/Service References/GameService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52291/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52291/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52291/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GummyBears.Common.Models" />
      <xsd:import schemaLocation="http://localhost:52291/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GummyBears.Common.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_DoLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:DoLogin" />
  </wsdl:message>
  <wsdl:message name="IService_DoLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaps" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveMap_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMap" />
  </wsdl:message>
  <wsdl:message name="IService_SaveMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMapResponse" />
  </wsdl:message>
  <wsdl:message name="IService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MakeMove_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeMove" />
  </wsdl:message>
  <wsdl:message name="IService_MakeMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeMoveResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="DoLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DoLogin" message="tns:IService_DoLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DoLoginResponse" message="tns:IService_DoLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaps">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMaps" message="tns:IService_GetMaps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMapsResponse" message="tns:IService_GetMaps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMap">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveMap" message="tns:IService_SaveMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveMapResponse" message="tns:IService_SaveMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StartGame" message="tns:IService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StartGameResponse" message="tns:IService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MakeMove" message="tns:IService_MakeMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MakeMoveResponse" message="tns:IService_MakeMove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoLogin">
      <soap:operation soapAction="http://tempuri.org/IService/DoLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaps">
      <soap:operation soapAction="http://tempuri.org/IService/GetMaps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMap">
      <soap:operation soapAction="http://tempuri.org/IService/SaveMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/IService/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeMove">
      <soap:operation soapAction="http://tempuri.org/IService/MakeMove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52291/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>