GummyBearsGame/GummyBearsGame/Service References/GameService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GummyBears.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GummyBears.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52291/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GummyBears.Common.Enums" />
  <xs:complexType name="ArrayOfMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Map" nillable="true" type="tns:Map" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMap" nillable="true" type="tns:ArrayOfMap" />
  <xs:complexType name="Map">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfField" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Juice" type="xs:decimal" />
      <xs:element minOccurs="0" name="JuiceAI" type="xs:decimal" />
      <xs:element minOccurs="0" name="Money" type="xs:decimal" />
      <xs:element minOccurs="0" name="MoneyAI" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Map" nillable="true" type="tns:Map" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefenceMultiplier" type="xs:decimal" />
      <xs:element minOccurs="0" name="GoldMultiplier" type="xs:decimal" />
      <xs:element minOccurs="0" name="GummiesMultiplier" type="xs:int" />
      <xs:element minOccurs="0" name="GummiesNumber" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GummyBears.Common.Enums" minOccurs="0" name="GummiesType" type="q1:GummyType" />
      <xs:element minOccurs="0" name="JuiceMultiplier" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GummyBears.Common.Enums" minOccurs="0" name="Owner" type="q2:FieldOwner" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GummyBears.Common.Enums" minOccurs="0" name="PossibleActions" type="q3:PossibleActions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsFinished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Map" nillable="true" type="tns:Map" />
      <xs:element minOccurs="0" name="MapId" type="xs:int" />
      <xs:element minOccurs="0" name="OpponentMoves" nillable="true" type="tns:ArrayOfGameAction" />
      <xs:element minOccurs="0" name="PlayerMoves" nillable="true" type="tns:ArrayOfGameAction" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfGameAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameAction" nillable="true" type="tns:GameAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameAction" nillable="true" type="tns:ArrayOfGameAction" />
  <xs:complexType name="GameAction">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GummyBears.Common.Enums" minOccurs="0" name="Action" type="q4:ActionType" />
      <xs:element minOccurs="0" name="Field1" type="xs:int" />
      <xs:element minOccurs="0" name="Field2" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameAction" nillable="true" type="tns:GameAction" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Games" nillable="true" type="tns:ArrayOfGame" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
</xs:schema>